[submodule "tools/mom6_neus25_utils"]
	path = tools/mom6_neus25_utils
	url = git@github.com:dksasaki/mom6_neus25_utils.git
[submodule "exps/NEUS25_COBALT_CBED"]
	path = exps/NEUS25_COBALT_CBED
	url = git@github.com:dksasaki/NEUS25_COBALT_CBED.git
	branch = version_MOM6-COBALT-NEUS25v1
